* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  background: #d3d3d3;
  height: 100%;
}

input,
button,
p {
  outline: 0;
}
